@font-face {
  font-family: Moonglade;
  src: url("./MoongladeDemoBold.ttf");
}

body {
  text-align: center;
  font-family: Moonglade;
  letter-spacing: 0.3em;
}

#myForm {
  border: 0.7em solid black;
  display: inline-block;
  margin-top: 9%;
  font-size: 1.5em;
  padding: 1em;
}

#name,
#email,
#password,
#confirm_password,
#submit {
  border-radius: 0.3em;
  padding: 0.3em;
  font-size: 0.8em;
  font-family: Moonglade;
}

@media screen and (max-width: 350px) {
  body {
    letter-spacing: 0.2em;
  }

  #myForm {
    font-size: 1.3em;
    padding: 0.8em;
  }

  #name,
  #email,
  #password,
  #confirm_password,
  #submit {
    padding: 0.2em;
    font-size: 0.6em;
  }
}

@media screen and (max-width: 230px) {
  body {
    letter-spacing: 0.2em;
  }

  #myForm {
    font-size: 1.1em;
    padding: 0.7em;
  }

  #name,
  #email,
  #password,
  #confirm_password,
  #submit {
    padding: 0.15em;
    font-size: 0.4em;
  }
}
